.workSection__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-bottom: 10px;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  .btn__infocard {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .btn__infocard:hover, a:hover {
    opacity: 0.7;
  }
  .card:hover{
    transition: 0.2s;
    transform: transitionY(-1rem);
  }
 .icon__style{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  align-items: center;
  padding: 7px;
  margin: 5px;
 }